@import "tailwindcss";

:root {
  --primary-light: #D1FAE5;
  --primary: #059669;
  --primary-dark: #009137;
  --secondary: #313131;
  --accent: #afa0a0;
  --text: #838383;
  --subtext: #6B7280;
  --border: #d6d6d6;
  --success: #10B981;
  --error: #EF4444;
  --warning: #F59E0B;
  --info: #3B82F6;
  --border: #eaeaea;

  --background: #F3F4F6;
  --foreground: var(--text);
  --card: #FFFFFF;

  /* Fonts */
  --font-barlow: 'Barlow', sans-serif;
  --font-noto-sans-thai: 'Noto Sans Thai', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #000000;
    --card: #1F2937;
    --border: #eaeaea;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), var(--font-noto-sans-thai), sans-serif;
}

.bg-background {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.82), rgb(255 255 255 / 18%));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.border {
  background-color: #ffffff;
  border: 1px solid var(--border);
}

.bg-card {
  background-color: var(--card);
  border: 1px solid var(--border);
}


.bg-primary {
  background: linear-gradient(180deg, #ffffff 0%, #E0F2F1 50%, #FFFFFF 100%);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-success {
  background-color: var(--success);
}

.bg-error {
  background-color: var(--error);
}

.bg-accent {
  background-color: var(--accent);
}

.border-primary {
  border-color: var(--primary);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-primary-light {
  color: var(--primary-light);
}

.text-primary {
  color: var(--text);
}

.text-subtext {
  color: var(--subtext);
}

.text-success {
  color: var(--success);
}

.text-error {
  color: var(--error);
}

.text-warning {
  color: var(--warning);
}

.text-info {
  color: var(--info);
}

.shadow-sm {
  box-shadow: 0 1px 3px 0 rgba(249, 249, 249, 0.1), 0 1px 2px -1px rgba(255, 255, 255, 0.1);
}